.banner_area .banner_inner {
    background: url("../img/skills.jpg") no-repeat scroll center center;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 550px;
  }