{% extends 'base.html' %}
{% load static %}
{% block content %}

<!--================Home Banner Area =================-->
<section class="home_banner_area">
	<div class="container box_1620">
		<div class="banner_inner d-flex align-items-center">
			<div class="banner_content">
				<div class="media">
					<div class="d-flex">
						<img src="{% static 'img/personal.jpg' %}" alt="">
					</div>
					<div class="media-body">
						<div class="personal_text">
							<h6>Hello Everybody, i am</h6>
							<h3>Hamed Milanchian</h3>
							<h4>Engineering Researcher</h4>
							<p>You will begin to realise why this exercise is called the Dickens Pattern (with reference
								to the ghost showing Scrooge some different futures)</p>
							<ul class="list basic_info">
								<li><a href="#"><i class="lnr lnr-calendar-full"></i> 1st December, 1988</a></li>
								<li><a href="#"><i class="lnr lnr-phone-handset"></i> (+358) 046 683 5578</a></li>
								<li><a href="#"><i class="lnr lnr-envelope"></i> hamed.milanchian@gmail.com</a></li>
								<li><a href="#"><i class="lnr lnr-home"></i> Tampere/Finland</a></li>
							</ul>
							<ul class="list personal_social">
								<li><a href="https://www.facebook.com/ihmidi"><i class="fa fa-facebook"></i></a></li>
								<li><a href="https://twitter.com/"><i class="fa fa-twitter"></i></a></li>
								<li><a href="https://www.linkedin.com/in/hamed-milanchian/"><i
											class="fa fa-linkedin"></i></a></li>
								<li><a href="https://github.com/hamedmilan/"><i class="fa fa-github"></i></a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================My Tabs Area =================-->
<section class="mytabs_area p_120">
	<div class="container">
		<div class="tabs_inner">
			<ul class="nav nav-tabs" id="myTab" role="tablist">
				<li class="nav-item">
					<a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
						aria-controls="home" aria-selected="true">My Experiences</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab"
						aria-controls="profile" aria-selected="false">My Education</a>
				</li>
			</ul>
			<div class="tab-content" id="myTabContent">
				<div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
					<ul class="list">
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>Feb 2020 to present</p>
								</div>
								<div class="media-body">
									<h4>Tampere University</h4>
									<p>Research asistant <br />Tampere, Finland</p>
								</div>
							</div>
						</li>
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>2010 to 2014</p>
								</div>
								<div class="media-body">
									<h4>Tabriz University</h4>
									<p>Research asistant <br />Tabriz, Iran</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
				<div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
					<ul class="list">
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>2020 to present</p>
								</div>
								<div class="media-body">
									<h4>Tampere University</h4>
									<p>PhD<br />Electrical Engineering</p>
								</div>
							</div>
						</li>
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>Sep 2011 to Feb 2014</p>
								</div>
								<div class="media-body">
									<h4>Tabriz University</h4>
									<p>M.Sc.<br />Mechanical Engineering</p>
								</div>
							</div>
						</li>
						<li>
							<span></span>
							<div class="media">
								<div class="d-flex">
									<p>Sep 2007 to June 2011</p>
								</div>
								<div class="media-body">
									<h4>Tabriz University</h4>
									<p>B.Sc.<br />Mechanical Engineering</p>
								</div>
							</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End My Tabs Area =================-->

<!--================Testimonials Area =================-->
<section class="testimonials_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>References</h2>
			<p>My references are listed as below:</p>
		</div>
		<div class="testi_inner">
			<div class="testi_slider owl-carousel">
				<div class="item">
					<div class="testi_item">
						<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
							you think about it, you travel across her face</p>
						<h4>Tiina Salmi</h4>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star-half-o"></i></a>
					</div>
				</div>
				<div class="item">
					<div class="testi_item">
						<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
							you think about it, you travel across her face</p>
						<h4>Paavo Rasilo</h4>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star-half-o"></i></a>
					</div>
				</div>
				<div class="item">
					<div class="testi_item">
						<p>As conscious traveling Paup ers we must always be oncerned about our dear Mother Earth. If
							you think about it, you travel across her face</p>
						<h4>Dmitrey Sotnikov</h4>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star"></i></a>
						<a href="#"><i class="fa fa-star-half-o"></i></a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Testimonials Area =================-->

{% endblock %}