{% extends 'base.html' %}
{% load static %}
{% block content %}


<!--================Home Banner Area =================-->
<section class="banner_area">
	<div class="box_1620">
		<div class="banner_inner d-flex align-items-center">
			<div class="container">
				<div class="banner_content text-center">
					<h2>Skills</h2>
					<div class="page_link">
						<a href="{%url 'website:index'%}">Home</a>
						<a href="{%url 'website:skills'%}">Skills</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>
<!--================End Home Banner Area =================-->

<!--================Home Gallery Area =================-->
<section class="home_gallery_area p_120">
	<div class="container">
		<div class="main_title">
			<h2>My main skills</h2>
			<p>Who are in extremely love with eco friendly system.</p>
		</div>
		<div class="isotope_fillter">
			<ul class="gallery_filter list">
				<li class="active" data-filter="*"><a href="#">All</a></li>
				<li data-filter=".mechanics"><a href="#">Mechanical Engineering</a></li>
				<li data-filter=".modeling"><a href="#">Modeling</a></li>
				<li data-filter=".coding"><a href="#">Coding</a></li>
				<li data-filter=".superconductors"><a href="#">Superconductivity</a></li>
			</ul>
		</div>
	</div>
	<div class="container">
		<div class="gallery_f_inner row imageGallery1">
			<div class="col-lg-4 col-md-4 col-sm-6 mechanics modeling">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="{% static 'img/gallery/project-1.jpg' %}" alt="">
						<a class="light" href="{% static 'img/gallery/project-1.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>Mathematical Modeling</h4>
						<p>Client Project</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 mechanics modeling coding">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="{% static 'img/gallery/project-2.jpg' %}" alt="">
						<a class="light" href="{% static 'img/gallery/project-2.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>FEM</h4>
						<p>Client Project</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 modeling coding mechanics">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="{% static 'img/gallery/project-3.jpg' %}" alt="">
						<a class="light" href="{% static 'img/gallery/project-3.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>Mechanical Analysis</h4>
						<p>Client Project</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 coding">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="{% static 'img/gallery/project-4.jpg' %}" alt="">
						<a class="light" href="{% static 'img/gallery/project-4.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>Programming</h4>
						<p>Client Project</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 modeling coding">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="{% static 'img/gallery/project-5.jpg' %}" alt="">
						<a class="light" href="{% static 'img/gallery/project-5.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>Numerical Modeling</h4>
						<p>Client Project</p>
					</div>
				</div>
			</div>
			<div class="col-lg-4 col-md-4 col-sm-6 superconductors">
				<div class="h_gallery_item">
					<div class="g_img_item">
						<img class="img-fluid" src="{% static 'img/gallery/project-6.jpg' %}" alt="">
						<a class="light" href="{% static 'img/gallery/project-6.jpg' %}"><img src="{% static 'img/gallery/icon.png' %}" alt=""></a>
					</div>
					<div class="g_item_text">
						<h4>High Temperature Superconductors</h4>
						<p>Client Project</p>
					</div>
				</div>
			</div>
		</div>
		<div class="more_btn">
			<a class="main_btn" href="#">Load More Items</a>
		</div>
	</div>
</section>
<!--================End Home Gallery Area =================-->


{% endblock %}